:root{
    --iq-bg-dark-bg: #2B5842;
    --iq-bg-light-color: #f5f6fa;
    --iq-bg-dark-color: #2B5842;
    --iq-primary: #2B5842;
    --iq-primary-light: #2B5842;
    --iq-primary-dark: #2B5842;
    --iq-secondary: #a09e9e;
    --iq-secondary-light: #c1c1c1;
    --iq-secondary-dark: #7d7d7d;
    --iq-success: #27b345;
    --iq-success-light: #2fdac2;
    --iq-success-dark: #3dbb58;
    --iq-warning: #D39D45;
    --iq-warning-light: #FFE9C6;
    --iq-warning-dark: #D39D45;
    --iq-danger: #f14336;
    --iq-danger-light: #fd6256;
    --iq-danger-dark: #f35448;
    --iq-info: #2f9be8;
    --iq-info-light: #6ce6f4;
    --iq-info-dark: #67ddea;
    --iq-dark: #3f414d;
    --iq-light: #E9EDF4;
    --iq-white: #ffffff;
    --iq-black: #000000;
    --iq-cyan: #0cd2e3;
    --iq-cobalt-blue: #3f79f1;
    --iq-spring-green: #1be1b3;
    --iq-amber: #fe9e12;
    --iq-pink: #FD6C9E;
    --sunny-gold: #fe9e12;
}
